// bower:scss
// endbower

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" !default;
@import url($web-font-path);

$theme-base: #00bfa5;

body {
  padding: 0;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/** Purchase bar **/
.purchase-bar {
  background-color: $theme-base;
  color: #fff;

  .purchase-label {
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 0;
  }

  .purchase-value {
    font-weight: lighter;
    margin-top: 5px;
    position: relative;

    .dollar {
      font-weight: normal;
      font-size: .5em;
      position: absolute;
      left: -9px;
      top: 2px;
    }
  }

  .divider {
    background-color: #fff;
    height: 80px;
    width: 2px;
    margin-left: -5px;
    margin-right: 21px;
    margin-top: 18px;
  }
}
/** Purchase bar ends **/

/** Nav buttons **/
.nav-buttons {

  margin-bottom: 30px;

  .nav-button {
    cursor: pointer;
  }

  .nav-button-active {
    color: $theme-base;
  }

  .nav-button-cart {
    font-size: 45px;
  }

  .nav-button-list {
    font-size: 48px;
  }
}
/** Nav buttons ends **/


/** Product list - landing page **/
.product-list {

  .btn-add-product {
    position: absolute;
    right: 12px;
    top: -14px;

    md-icon {
      font-weight: bolder;
    }
  }

  .product-container {
    position: relative;
    margin-bottom: 15px;

    .product-card {
      height: 100%;
    }

    .product-thumb {
      display: block;
      width: 250px;
      margin: auto;
    }

    .product-title {
      padding: 5px;
      font-size: 18px;
      text-transform: uppercase;
    }

    .product-price {
      h1 {
        font-weight: 400;
        position: relative;

        .dollar {
          font-weight: normal;
          font-size: .5em;
          position: absolute;
          left: -10px;
          top: 0px;
        }

        .per-unit {
          font-weight: normal;
          color: grey;
          font-size: 0.4em;
          position: absolute;
          bottom: -7px;
          right: 0px;
        }
      }
    }

    .product-units {
      color: grey;
      font-size: 14px;
      padding: 5px;
    }

    .product-recommend {
      background-color: lighten($theme-base, 50%);
      text-align: center;

      h2 {
        color: $theme-base;
        margin-bottom: 0;

        .items {
            font-size: 0.5em;
        }
      }

      p {
        margin-top: 5px;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}
/** Product list - landing page ends**/

/** Cart page **/
.cart {
  .category {
    background-color: lighten(grey, 40%);
    margin-top: 10px;

    p {
      font-size: 16px;
      padding: 5px;
      margin: 7px;
      color: lighten(black, 30%);
    }
  }

  .cart-table {
    th {
      color: lighten(black, 30%) !important;
      font-weight: 600 !important;
    }

    .carton-input {
      text-align: center;

      input {
        height: 30px;
        width: 60px;
        border-color: lighten(grey, 70%);
        border-radius: 5px;
        text-align: right;
      }
    }
  }

  .empty-cart {
    background-color: lighten(grey, 40%);
  }
}
/** Cart page ends**/
