<purchase-bar total-products="data.totalProducts" total-cost="data.totalCost"></purchase-bar>
<div class="nav-buttons" layout="row" flex="5" flex-offset="75" flex-xs="25" flex-offset-xs="60" flex-sm="15" flex-md="10">
  <md-icon class="nav-button nav-button-active nav-button-cart" ui-sref="cart">view_list</md-icon>
  <md-icon class="nav-button nav-button-list" ui-sref="productList">view_module</md-icon>
</div>
<div class="cart">
  <div ng-repeat="(category, product) in data.cartItems" layout="row" flex-offset="10">
    <md-table-container layout="column" flex="80">
      <div class="category">
        <p>{{category}} ({{getItemCount(product)}})</p>
      </div>
      <form name="cartForm">
        <table md-table class="cart-table">
          <thead md-head>
            <tr md-row>
              <th md-column><span>IMAGE</span></th>
              <th md-column><span>NAME</span></th>
              <th md-column>UNIT COST</th>
              <th md-column md-numeric>PACKAGE SIZE <br /><span style="color: grey;">No. of Units</span></th>
              <th md-column md-numeric>UNITS IN CARTON</th>
              <th md-column>NO. OF CARTONS</th>
              <th md-column md-numeric>VALUE</th>
              <th md-column>ACTIONS</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="item in product">
              <td md-cell><img ng-src="{{item.imageUrl}}" class="md-card-image" alt="{{item.title}}" style="width: 90px; margin: 5px 1px;"></td>
              <td md-cell style="width: 130px;">{{item.title | uppercase}}</td>
              <td md-cell>{{item.unitCost | currency}}</td>
              <td md-cell>{{item.packSize}}</td>
              <td md-cell>{{item.unitsInCartons}}</td>
              <td md-cell class="carton-input">
                <input id="{{item.id}}" name="{{item.id}}" ng-model="item.quantity"
                type="number" min="1" max="100" ng-change="updateQuantity(item, cartForm)"
                ng-model-options="{ debounce: 350 }" required>
              </td>
              <td md-cell>{{item.unitCost * item.unitsInCartons * item.quantity | currency}}</td>
              <td md-cell>
                <md-button class="md-icon-button" aria-label="Remove Item" ng-click="removeItem(item, category)">
                  <md-icon>clear</md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </md-table-container>
  </div>
  <div class="empty-cart" ng-show="data.isCartEmpty" layout="row" layout-margin>
    <p>The cart is empty <md-icon>sentiment_very_dissatisfied</md-icon> <md-button class="md-primary md-raised" ui-sref="productList">Let's shop!</md-button><p>
    </div>
  </div>
