<purchase-bar total-products="data.totalProducts" total-cost="data.totalCost"></purchase-bar>
<div class="nav-buttons" layout="row" flex="5" flex-offset="75" flex-xs="25" flex-offset-xs="60" flex-sm="15" flex-md="10">
    <md-icon class="nav-button nav-button-cart" ui-sref="cart">view_list</md-icon>
    <md-icon class="nav-button nav-button-active nav-button-list" ui-sref="productList">view_module</md-icon>
</div>
<div flex-offset-md="20" flex-offset-gt-md="20" flex-offset-sm="10" class="product-list" layout="row" flex="70" flex-xs="100" layout-wrap>
  <div class="product-container" ng-repeat="product in data.products" layout="column">
    <md-button class="md-fab md-mini md-primary btn-add-product" ng-click="addToCart(product)">
      <md-icon>add</md-icon>
    </md-button>
    <md-card class="product-card">
      <div layout="row" layout-xs="column">
        <div ng-repeat="item in product.items" layout="column" flex-xs="100">
          <img ng-src="{{item.imageUrl}}" class="md-card-image product-thumb" alt="{{item.title}}">
          <md-card-content>
            <div layout="row" class="product-title">
              {{item.title}}
            </div>
            <div layout="row" layout-align="end" class="product-price">
              <h1><span class="dollar">$</span>{{item.unitCost | currency:''}}<span class="per-unit">per unit</span></h1>
            </div>
            <div layout="row" class="product-units">
              {{item.unitsInCartons}} units per carton <br />
              ({{item.unitsInCartons * item.unitCost | currency}})
            </div>
          </md-card-content>
        </div>
      </div>
      <div class="product-recommend" ng-show="product.items.length > 1">
        <md-card-actions layout="row">
          <div layout="column" flex="50">
            <h2>{{product.items.length}} <span class="items">ITEMS</span></h2>
            <p>SELLS WELL TOGETHER*</p>
          </div>
          <div layout="column" flex="50">
            <h2>{{product.recommendation.currentLevel}}%</h2>
            <p>RECOMMENDED</p>
          </div>
        </md-card-actions>
      </div>
    </md-card>
  </div>
</div>
