<div class="purchase-bar">
  <div layout="row" layout-margin>
    <div flex="5" flex-xs="30" flex-sm="10">
      <p class="purchase-label">
        TOTAL <br />
        PRODUCTS <br />
      </p>
      <h1 class="purchase-value">
        {{totalProducts}}
      </h1>
    </div>
    <div class="divider"></div>
    <div flex="5" flex-xs="30" flex-sm="10">
      <p class="purchase-label">
        TOTAL <br />
        COST <br />
      </p>
      <h1 class="purchase-value">
        <span class="dollar">$</span>{{totalCost | currency : ''}}
      </h1>
    </div>
  </div>
</div>
